@import url('https://fonts.googleapis.com/css2?family=Prata&family=Raleway:wght@100;300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --main-black: #222;
    --accent-color: #FAD9FB;
    --main-grey: #bbb;
    --light-grey: #f1f1f1;
    --main-white: #fff;
    --main-green: #05FF00;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.title {
    font-family: 'Prata', serif;
    font-size: 66px;
}

a {
    color: var(--main-black);
    text-decoration: none;
}

.screen {
    max-width: 1200px;
}

.banner {
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('./img/banner-bg.jpeg');
    background-size: cover;
    background-position: center;
}
