@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;800&family=Oswald:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Oswald:wght@300;500&display=swap');



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --main-bg-color: #f1f1f1;
    --content-bg-color: #fff;
    --shadow-color: #dadada;
    --main-black: #202020;
    --button-hover-color: #f7f7f7;
    --accent-color: #2b375f;  /* #cd6611 */
    --grey-text: #8f8f8f;
    scroll-behavior: smooth;
    --screen: 900px;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
}

button {
    padding: 5px;
    background-color: var(--content-bg-color);
    border: solid 1px var(--main-black);
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}

hr {
    /* height: 3px;
    border: none;
    background-color: var(--main-bg-color); */
    margin: 15px auto;
}

#loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid var(--main-black); 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: none;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.content {
    background-color: var(--content-bg-color);
    margin: 10px;
    padding: 50px;
    max-width: 1100px;
    box-shadow: 0px 0px 10px var(--shadow-color);
}

.content-title {
    font-size: 18px;
    border-bottom: solid 2px var(--accent-color);
    margin: 30px auto;
}

.banner {
    position: relative;
    color: var(--main-white-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    /* background: linear-gradient(70deg, rgba(43, 55, 95, 0.7), rgba(43, 55, 95, 0.5)), url('./img/cartoon-bg.jpg'); */
    background-size: cover;
    background-position: center; 
}


.banner-title {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
}

.banner button {
    height: 50px;
    width: 200px;
}

#banner-arrow-down {
    /* color: var(--content-bg-color); */
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    animation: top-down ease-out 0.7s infinite alternate;
}
@keyframes top-down {
    from {height: 2%}
    to {height: 5%}
}

.mission {
    padding: 100px 50px;
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
}

#mission-accent-word {
    text-decoration: underline 3px var(--accent-color);
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}

.personal {
    /* background-color: #cccbcb; */
    width: 350px;
    position: relative;
}
.personal img {
    height: 250px;
    width: 250px;
}

.personal-title {
    background-color: var(--content-bg-color);
    border: solid 1px var(--main-black);
    padding: 5px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    position: absolute;
    top: 120px;
    left: 160px;
}

.personal-subtitle {
    background-color: var(--content-bg-color);
    border: solid 1px var(--main-black);
    padding: 5px;
    font-size: 14px;
    position: absolute;
    top: 165px;
    left: 160px;
    width: 190px;
    line-height: 1.2;
    text-align: justify;
}

.personal button {
    position: absolute;
    top: 215px;
    left: 160px;
    width: 190px;
}

.top-barber { 
    display: flex;  
    align-items: center;
    position: absolute;
    color: var(--content-bg-color);
    background-color: var(--main-black);
    font-size: 10px;
    padding: 5px;
    top: -10px;
    left: 205px;
}

.top-barber img {
    margin-right: 1px;
    height: 12px;
    width: 12px;
    filter: invert(100%) sepia(32%) saturate(148%) hue-rotate(181deg) brightness(117%) contrast(100%);
}

/* #price h1 {
    margin-bottom: 30px;
    text-align: center;
} */

.service-row {
    position: relative;
    margin: 35px 0px;
    max-width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    border-top: solid 1px var(--main-dark-color);
    border-bottom: solid 1px var(--main-dark-color);
}
.service-row p {
    min-width: 50px;
    font-size: 20px;
}

.service-row h3 {
    font-size: 24px;
    color: var(--main-accent-color);
}

.service-row-line {
    flex: 1;
    margin: auto 25px;
    border-bottom: dashed 1px var(--accent-color);
    max-width: 100%;
    height: 3px;
}

.service-row img {
    height: 10px;
    width: auto;
    position: absolute;
    top: 10px;
    left: 50%;
}

#tab {
    height: 500px;
}

#tab-links {
    border-bottom: solid 2px var(--main-black);
}

#tab-links button {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 300;
    border: none;
}
.tab-content {
    display: none;
    padding-top: 20px;
    text-align: justify;
    line-height: 1.7;
}

.tab-button.active {
    color: var(--content-bg-color);
    background-color: var(--main-black);
    border: none;
}

.discount {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#discount-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#discount-title p {
    margin: 10px auto;
    color: var(--grey-text);
}

.visit-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#visit h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#visit-services {
    width: 40%;
}

.service-select-row {
    padding: 5px 0px;
}

#visit-person {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#visit-person button{
    margin: 0px;
    height: 70px;
    color: var(--content-bg-color);
    background-color: var(--main-black);
}

#accordion {
    display: flex;
    flex-direction: column;
}

.accordion-button {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    position: relative;
    padding: 20px 50px 20px 0px;
    border: none;
    border-bottom: solid 1px var(--main-black);
}

.accordion-button::before {
    content: '\221F';
    font-size: 24px;
    margin: 3px;
    position: absolute;
    right: 10px;
    top: 15px;
    rotate: -45deg;
    transition: 0.5s rotate;
} 

.accordion-button.active::before {
    rotate: 270deg;
}

.accordion-panel {
    margin: 10px;
    text-align: justify;
    display: none;
    max-height: 0;
    transition: 0.4s;
    overflow: hidden;
    line-height: 1.7;
}

.accordion-panel ul {
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 10px;
}

.accordion-panel ul li {
    margin: 10px 0px;
}

#contacts p {
    margin-top: 20px;
    color: var(--grey-text);
}

#contacts-content h3 {
    margin: 10px 20px 10px 0px;
}

#contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.contacts-map {
    width: 100%;
    height: 300px;
    border: solid 1px #000;
    
}

.contacts-map iframe {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 80px 50px;
    background-color: var(--main-black);
    color: var(--content-bg-color);
}

.footer-links {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin: 0px 20px;
}

.footer-links button {
    background-color: #000;
    color: #fff;
    padding: 2px;
    margin: 3px;
    border: none;
    border-bottom: solid 1px #fff;
}

.footer-contacts {
    font-size: 14px;
}
.footer-contacts h3{
    margin: 0px 0px 15px 0px;
}







































#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    margin-bottom: 5px;
}
.content-box.mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 12;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.content-box.mobile .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.content-box.mobile .mobile-menu-button {
    display: none;
}
.content-box.mobile .close-mobile-menu-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(115deg) brightness(112%) contrast(114%);
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.navigation button {
    border: none;
    border-bottom: solid 2px #fff;
    background-color: #000;
    color: #fff;
}

.navigation button:hover {
    border-bottom: solid 2px var(--main-accent-color);
}

.mobile-menu-button {
    display: none;
    border: none;
    border-bottom: solid 2px #fff;
    background-color: #000;
    color: #fff;
}

.close-mobile-menu-button {
    display: none;
    border: none;
    border-bottom: solid 2px #fff;
    background-color: #000;
    color: #fff;
}


/* banner */




#banner-button-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-button-box button {
    padding: 15px 70px;
    font-weight: 700;
    color: var(--main-accent-color);
    background-color: var(--main-white-color);
    border: solid 1px var(--main-accent-color);
}

/* tab */

/* team */

#team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}
#team-title {
    text-align: center;
    margin-bottom: 30px;
}

#barber-visit-button {
    position: absolute;
    top: 215px;
    left: 170px;
    margin: 0px;
    width: 190px;
    color: var(--main-accent-color);
    background-color: var(--main-white-color);
    border: solid 2px var(--main-accent-color);

}



/* discount */


#get-discount-button {
    margin-top: 25px;
}

#discount-offer {
    height: 160px;
    width: 220px;
    border: dashed 1px var(--main-dark-color);
    font-size: 48px;
    color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* accordion */





/* #visit h1 {
    text-align: center;
    margin-bottom: 30px;
} */



.total-count {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--main-accent-color);
}

.personal-data {
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 12px;
    color: #737373;
}

input {
    padding: 10px;
}

select {
    padding: 10px;
}





.modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;
}
.modal-content {
    position: relative;
    text-align: start;
    align-items: center;

    margin: auto;
    width: 400px;
    max-height: 600px;
    background:#fff;
    border: solid 1px #000;
    padding: 60px 10px 20px 10px;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.modal-content p {
    margin-bottom: 15px;
    font-size: 18px;
}
#confirm-visit {
    color: #fff;
    background-color: #000;
    width: 95%;
    height: 50px;
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
}

#not-all-fields {
    color: red;
    display: none;
}

.modal-final {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;
}

.modal-final-content {
    background-color: rgb(171, 248, 171);
    text-align: center;
    align-items: center;
    padding: 30px;
    border: solid 1px #000;
    width: 200px;
    margin: auto;
    margin-top: 200px;
}

@media screen and (max-width: 880px) {
    .mobile-menu-button {
        display: block;
    }
    .navigation {
        display: none;
    }
    #banner {
        flex-direction: column;
    }
    #banner-title {
        text-align: center;
    }
    #team {
        flex-direction: column;
        align-items: center;
    }
    .personal {
        width: auto;
        margin-bottom: 30px;
    }
    .personal-title {
        font-size: 16px;
        width: 100px;
        left: 160px;
    }
    .personal-subtitle {
        font-size: 12px;
        width: 120px;
        text-align: start;
        top: 155px;
        left: 140px;
    }
    #barber-visit-button {
        width: 120px;
        left: 140px;
    }
    .service-row {
        margin: 15px 25px;
    }
    #tab {
        height: 370px;
    }

    #discount {
        flex-direction: column;
        text-align: center;
    }
    #discount-offer {
        margin: 20px;
    }
    #discount-offer-height {
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .visit-content {
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
    }
    #visit-services {
        width: 100%;
    }
    .service-select-row {
        padding: 10px 0px;
    }
    #visit-person {
        width: auto;
        max-width: 300px;
        margin: 0px 20px;
    }
    #contacts-content {
        flex-direction: column;
        align-items: center;
    }
    .contacts-info {
        text-align: center;
        margin-bottom: 30px;
    }
    #footer {
        flex-direction: column;
        gap: 30px;
    }
}


@media screen and (max-width: 570px) {
    #tab {
        height: 570px;
    }
}