@import url('https://fonts.googleapis.com/css2?family=Prata&family=Raleway:wght@100;300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --main-black: #222;
    --accent-color: #FAD9FB;
    --main-grey: #bbb;
    --light-grey: #f1f1f1;
    --main-white: #fff;
    --main-green: #05FF00;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.title {
    font-family: 'Prata', serif;
    font-size: 66px;
}

a {
    color: var(--main-black);
    text-decoration: none;
}

button {
    font-weight: lighter;
    background-color: transparent;
    border: solid var(--main-black) 1px;
}

button:hover {
    background-color: transparent;
    border: solid var(--main-black) 1px;
    transition: 0.3s;
}

button:focus {
    border: solid var(--main-black) 1px;
}

.screen {
    max-width: 1020px;
    margin: auto;
    padding: 75px 10px;
}

.banner {
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('./img/banner-bg.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 167px;
    text-align: center;
}

.logo h1 {
    color: var(--light-grey);
    font-size: 36px;
    font-weight: 400;
}

.logo p {
    color: var(--light-grey);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
    padding-left: 6px;
}

.bar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.online-marker {
    display: flex;
    align-items: center;
}

.online-marker p {
    margin-left: 5px;
    color: var(--light-grey);
    font-weight: 200;
}

.marker {
    background-color: var(--main-green);
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.phone {
    color: var(--light-grey);
    font-size: 26px;
}

.burger-menu {
    border: none;
    background-color: transparent ;
}

.banner-cta {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-title p {
    color: var(--light-grey);
    font-family: 'Prata', serif;
    font-size: 66px;
}

.banner-btn {
    color: var(--light-grey);
    background-color: transparent;
    border: solid var(--light-grey) 1px;
    width: 200px;
    height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-right: 100px;
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    animation: top-down ease-out 0.7s infinite alternate 5s;
}
@keyframes top-down {
    from {bottom: 5%}
    to {bottom: 8%}
}

.mission {
    margin-top: 50px;
    font-size: 41px;
    text-align: right;
}

.mission-counter {
    margin-top: 150px;
}

.mission-sub {
    font-size: 41px;
}

.team-title {
    margin-bottom: 52px;
}

.team {
    display: flex;
    margin-bottom: 100px;
}

.barber-card {
    max-width: 600px;
    position: relative;
}

.barber-card img {
    max-width: 100%;
    min-width: 250px;
}

.barber-card h1 {
    position: absolute;
    background-color: var(--light-grey);
    font-size: 26px;
    right: 25px;
    bottom: 117px;
}

.barber-card p {
    position: absolute;
    background-color: var(--light-grey);
    max-width: 200px;
    text-align: right;
    right: 25px;
    bottom: 75px;
}

.barber-card button {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 200px;
    height: 40px;
}

.services {
    padding-bottom: 150px;
}

#tab-links {
    margin: 90px 0px;
}

.tab-button {
    padding: 10px 0px;
    font-size: 26px;
    font-weight: 300;
    color: var(--main-black);
    border: none;
    background-color: var(--main-white);
    margin-right: 70px;
}

.tab-button:hover {
    cursor: pointer;
    border: none;
}

.tab-button.active {
    cursor: auto;
    border: none;
    font-weight: 300;
}

.tab-str {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.tab-str h1 {
    font-size: 26px;
    font-weight: 300;
    width: 500px;
    line-height: 26*1.2;
}

.tab-str h2 {
    font-size: 26px;
    font-weight: 300;
    color: var(--main-grey);
}

.tab-str p {
    font-size: 26px;
    font-weight: 300;
    text-align: right;
    width: 100px;
}

.selects {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.selects h1 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 10px;
}

select {
    width: 350px;
    height: 50px;
    border: solid var(--main-black) 1px;
    padding: 0px 10px;
    font-size: 16px;
}

input {
    width: 350px;
    height: 50px;
    border: solid var(--main-black) 1px;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: lighter;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    border: solid var(--main-black) 1px;
}

select {
    width: 350px;
    height: 50px;
}

.selects-serv {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.selects-pers {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.total-str {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 70px;
}

.total-str p {
    font-size: 26px;
    font-weight: 300;
}

.total-box {
    display: flex;
    padding: 0px;
}

.total-box h1 {
    font-family: 'Prata', serif;
    font-size: 60px;
    line-height: 60px;
    margin: 0px 5px 0px 0px;
}

.personal-data {
    max-width: 350px;
    color: var(--main-grey);
}

.selects-pers button {
    width: 350px;
    height: 70px;
    color: var(--main-black);
    background-color: transparent;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
    border: solid var(--main-black) 1px;
    margin-top: 70px;
}

.selects-pers button:hover {
    cursor: pointer;
}

#name-counter {
    position:relative;
    left: 300px;
    top: -35px;
    color: var(--main-grey);
}